:root { 
--gray_600:#71717a; 
--blue_gray_900_19:#2b2e3219; 
--blue_gray_100:#d4d4d8; 
--blue_gray_300:#9ca3af; 
--gray_900:#18181b; 
--light_blue_600:#00a1e0; 
--green_900:#185c37; 
--green_800:#107c41; 
--green_700:#2ca01c; 
--black_900_0c:#0000000c; 
--green_600:#21a366; 
--gray_50:#fafafa; 
--teal_400:#33c481; 
--deep_purple_50:#e9d5ff; 
--black_900:#000000; 
--blue_gray_800:#374151; 
--blue_gray_900_01:#34313f; 
--blue_gray_900_cc:#2b2e32cc; 
--purple_800:#6b21a8; 
--blue_gray_900:#1f2937; 
--white_A700:#ffffff; 
}